/* |===============<< Reseting CSS & Default Style's >>===============| */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body{
    width: 100%;
    height: 955px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #051e3e;
}
/* |===============<< XXXXXX >>===============| */

/* |===============<< ToDo List Container >>===============| */
.container{
    width: 35%;
    height: 800px;
    border-radius: 10px;
    background-color: #851e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* |===============<< Main Title >>===============| */
.todo-title h1{
    text-align: center;
    padding: 15px 0;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    word-spacing: 5px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* |===============<< ToDo Input & Adding >>===============| */
.todo-input-and-submit{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-input-area{
    width: 80%;
    padding: 13px;
    font-size: 18px;
    margin-bottom: 25px;
    border: none;
    border-radius: 10px;
    color: #fff;
    caret-color: #851e3e;
    background-color: #251e3e;
}

.todo-input-area:focus{
    outline: none;
}

.todo-input-area::placeholder{
    color: rgba(255, 255, 255, 0.8);
}

.todo-submit-btn{
    text-transform: uppercase;
    font-weight: bold;
    color: #251e3e;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 80px;
    transition: all 0.2s linear;
}

.todo-submit-btn:hover{
    color: #fff;
    background-color: #051e3e;
}

/* |===============<< 2 Horizintal Line's >>===============| */
.hr-line{
    width: 70%;
    height: 2px;
    border: none;
    margin-bottom: 6px;
    background-color: #251e3e;
}

/* |===============<< Todo List Container >>===============| */
.all-todo-list-container{
    width: 80%;
    margin-top: 30px;
    list-style-type: none;
    overflow: scroll;
}
    /* |===============<< Each ToDo List >>===============| */
.each-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.each-list-text{
    width: 80%;
    border: 3px solid #051e3e;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
    background-color: #651e3e;
    overflow: scroll;
}

.todo-list-btn{
    width: 50px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #051e3e;
    border-radius: 5px;
    background-color: #051e3e;
    transition: all 0.2s linear;
}

.complete-task{
    color: green;
    margin-right: 8px;
}

.complete-task:hover{
    color: #051e3e;
    background-color: green;
}

.delete-task{
    color: red;
}

.delete-task:hover{
    color: #051e3e;
    background-color: red;
}
/* |===============<< XXXXXX >>===============| */

/* |===============<< Theme In Out Btn >>===============| */
#theme-btn{
    padding: 10px 15px;
    font-size: 18px;
    border: 2px solid greenyellow;
    border-radius: 50px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    position: fixed;
    top: 50px;
    left: 50px;
    transition: all 0.1s linear;
}

#theme-btn:hover{
    color: #000;
    background-color: #fff;
    border-color: orange;
}
/* |===============<< XXXXXX >>===============| */

/* |===============<< Theme Section >>===============| */
.theme-container{
    width: 300px;
    height: 300px;
    border: 3px solid greenyellow;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: -300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    transition: all 0.3s linear;
}

.theme-container div{
    width: 120px;
    aspect-ratio: 2/1;
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.light-color{
    color:  #f6abb6;
    background-color: #eee3e7;
}

.dark-color{
    color: #36454f;
    background-color: #6e7f80;
}

.beautiful-blues{
    color: #b3cde0;
    background-color: #011f4b;
}

.beautiful-pink{
    color:  #851e3e;
    background-color: #051e3e;
}

.google-colors{
    color:  #fff;
    background-color: #008744;
}

.metro-ui{
    color:  #ffc425;
    background-color: #d11141;
}
/* |===============<< XXXXXX >>===============| */

/* |===============<< Theme's Adding >>===============| */
    /* |===============<< For Light Color Theme >>===============| */
#body-bg-light{
    background-color: #eee3e7;
}

#main-title-light{
    color: #000;
}

#todo-container-light{
    background-color: #f6abb6;
}

#input-area-box-light{
    background-color: #ead5dc;
    color: #000;
}

#input-area-box-light::placeholder{
    color: rgba(0, 0, 0, 0.6);
}

#submit-btn-light{
    color: #000;
    background-color: #fff;
}

#submit-btn-light:hover{
    color: rgba(0, 0, 0, 0.5);
    background-color: #ead5dc;
}

#main-ul-container-light .each-list p{
    background-color: #eec9d2;
    border-color: #eee3e7;
    color: #000;
}

#main-ul-container-light .each-list .todo-list-btn{
    background-color: #eee3e7;
    border-color: #eee3e7;
}

#main-ul-container-light .each-list .complete-task:hover{
    color: #eee3e7;
    background-color: green;
}

#main-ul-container-light .each-list .delete-task:hover{
    color: #eee3e7;
    background-color: red;
}
    /* |===============<< XXXXXX >>===============| */

    

    /* |===============<< For Dark Color Theme >>===============| */
#body-bg-dark{
    background-color: #6e7f80;
}

#main-title-dark{
    color: #fff;
}

#todo-container-dark{
    background-color: #36454f;
}

#input-area-box-dark{
    background-color: #536872;
    color: #fff;
}

#submit-btn-dark{
    color: #000;
    background-color: #fff;
}

#submit-btn-dark:hover{
    color: rgba(255, 255, 255, 0.8);
    background-color: #536872;
}

#main-ul-container-dark .each-list p{
    background-color: #708090;
    border-color: #6e7f80;
    color: #fff;
}

#main-ul-container-dark .each-list .todo-list-btn{
    background-color: #6e7f80;
    border-color: #6e7f80;
}

#main-ul-container-dark .each-list .complete-task:hover{
    color: #6e7f80;
    background-color: green;
}

#main-ul-container-dark .each-list .delete-task:hover{
    color: #6e7f80;
    background-color: red;
}
    /* |===============<< XXXXXX >>===============| */


    
     /* |===============<< For Beautiful Blues Color Theme >>===============| */
#body-bg-blue{
    background-color: #011f4b;
}

#main-title-blue{
    color: #000;
}

#todo-container-blue{
    background-color: #b3cde0;
}

#input-area-box-blue{
    background-color: #03396c;
    color: #fff;
}

#input-area-box-blue::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

#submit-btn-blue{
    color: #000;
    background-color: #fff;
}

#submit-btn-blue:hover{
    color: rgba(255, 255, 255, 0.8);
    background-color: #03396c;
}

#main-ul-container-blue .each-list p{
    background-color: #005b96;
    border-color: #011f4b;
    color: #fff;
}

#main-ul-container-blue .each-list .todo-list-btn{
    background-color: #011f4b;
    border-color: #011f4b;
}

#main-ul-container-blue .each-list .complete-task:hover{
    color: #011f4b;
    background-color: green;
}

#main-ul-container-blue .each-list .delete-task:hover{
    color: #011f4b;
    background-color: red;
}
    /* |===============<< XXXXXX >>===============| */



    /* |===============<< For Google Color Theme >>===============| */
#body-bg-google-color{
    background-color: #008744;
}

#main-title-google-color{
    color: #000;
}

#todo-container-google-color{
    background-color: #fff;
}

#input-area-box-google-color{
    background-color: #0057e7;
    color: #fff;
}

#input-area-box-google-color::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

#submit-btn-google-color{
    color: #000;
    background-color: #ffa700;
}

#submit-btn-google-color:hover{
    color: rgba(255, 255, 255, 0.8);
    background-color: #0057e7;
}

#main-ul-container-google-color .each-list p{
    background-color: #d62d20;
    border-color: #008744;
    color: #fff;
}

#main-ul-container-google-color .each-list .todo-list-btn{
    background-color: #ffa700;
    border-color: #ffa700;
}

#main-ul-container-google-color .each-list .complete-task:hover{
    color: #ffa700;
    background-color: green;
}

#main-ul-container-google-color .each-list .delete-task:hover{
    color: #ffa700;
    background-color: red;
}
    /* |===============<< XXXXXX >>===============| */



    /* |===============<< For Metro UI Color Theme >>===============| */
#body-bg-metro-ui{
    background-color: #d11141;
}

#main-title-metro-ui{
    color: #000;
}

#todo-container-metro-ui{
    background-color: #ffc425;
}

#input-area-box-metro-ui{
    background-color: #00b159;
    color: #000;
}

#input-area-box-metro-ui::placeholder{
    color: rgba(0, 0, 0, 0.7);
}

#submit-btn-metro-ui{
    color: #000;
    background-color: #fff;
}

#submit-btn-metro-ui:hover{
    color: rgba(255, 255, 255, 0.8);
    background-color: #d11141;
}

#main-ul-container-metro-ui .each-list p{
    background-color: #00aedb;
    border-color: #d11141;
    color: #000;
}

#main-ul-container-metro-ui .each-list .todo-list-btn{
    background-color: #d11141;
    border-color: #d11141;
}

#main-ul-container-metro-ui .each-list .complete-task:hover{
    color: #d11141;
    background-color: green;
}

#main-ul-container-metro-ui .each-list .delete-task{
    color: #000;
}

#main-ul-container-metro-ui .each-list .delete-task:hover{
    color: #000;
    background-color: #00aedb;
}
    /* |===============<< XXXXXX >>===============| */

/* |===============<< XXXXXX >>===============| */