/* |===============<< Reseting CSS & Default Style's >>===============| */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body{
    width: 100%;
    height: 955px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #051e3e;
}
/* |===============<< XXXXXX >>===============| */

/* |===============<< ToDo List Container >>===============| */
.container{
    width: 35%;
    height: 800px;
    border-radius: 10px;
    background-color: #851e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* |===============<< Main Title >>===============| */
.todo-title h1{
    text-align: center;
    padding: 15px 0;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    word-spacing: 5px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* |===============<< ToDo Input & Adding >>===============| */
.todo-input-and-submit{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-input-area{
    width: 80%;
    padding: 13px;
    font-size: 18px;
    margin-bottom: 25px;
    border: none;
    border-radius: 10px;
    color: #fff;
    caret-color: #851e3e;
    background-color: #251e3e;
}

.todo-input-area:focus{
    outline: none;
}

.todo-input-area::placeholder{
    color: rgba(255, 255, 255, 0.8);
}

    /* |===============<< Extra Placeholder Color Using JS >>===============| */
    #todo-input-area-black::placeholder{
        color: rgba(0, 0, 0, 0.8);
    }
    /* |===============<< XXXXXX >>===============| */

#todo-submit-btn{
    text-transform: uppercase;
    font-weight: bold;
    color: #251e3e;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 80px;
    transition: all 0.2s linear;
}

#todo-submit-btn:hover{
    color: #fff;
    background-color: #051e3e;
}

/* |===============<< 2 Horizintal Line's >>===============| */
.hr-line{
    width: 70%;
    height: 2px;
    border: none;
    margin-bottom: 6px;
    background-color: #251e3e;
}

/* |===============<< Todo List Container >>===============| */
.all-todo-list-container{
    width: 80%;
    margin-top: 30px;
    list-style-type: none;
    overflow: scroll;
}
    /* |===============<< Each ToDo List >>===============| */
.each-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.each-list-text{
    width: 80%;
    border: 3px solid #051e3e;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
    background-color: #651e3e;
    overflow: scroll;
}

.todo-list-btn{
    width: 50px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #051e3e;
    border-radius: 5px;
    background-color: #051e3e;
    transition: all 0.2s linear;
}

.complete-task{
    color: green;
    margin-right: 8px;
}

.complete-task:hover{
    color: #051e3e;
    background-color: green;
}

.delete-task{
    color: red;
}

.delete-task:hover{
    color: #051e3e;
    background-color: red;
}
/* |===============<< XXXXXX >>===============| */

/* |===============<< Theme In Out Btn >>===============| */
#theme-btn{
    padding: 10px 15px;
    font-size: 18px;
    border: 2px solid greenyellow;
    border-radius: 50px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    position: fixed;
    top: 50px;
    left: 50px;
    transition: all 0.1s linear;
}

#theme-btn:hover{
    color: #000;
    background-color: #fff;
    border-color: orange;
}
/* |===============<< XXXXXX >>===============| */

/* |===============<< Theme Section >>===============| */
.theme-container{
    width: 300px;
    height: 300px;
    border: 3px solid greenyellow;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: -300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    transition: all 0.3s linear;
}

.theme-container div{
    width: 120px;
    aspect-ratio: 2/1;
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.light-color{
    color:  #f6abb6;
    background-color: #eee3e7;
}

.dark-color{
    color: #36454f;
    background-color: #6e7f80;
}

.beautiful-blues{
    color: #b3cde0;
    background-color: #011f4b;
}

.beautiful-pink, .beautiful-pink a:link{
    text-decoration: none;
    color:  #851e3e;
    background-color: #051e3e;
}

.google-colors{
    color:  #fff;
    background-color: #008744;
}

.metro-ui{
    color:  #ffc425;
    background-color: #d11141;
}
/* |===============<< XXXXXX >>===============| */